nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }
  
  li {
    display: inline;
    padding-right: 10px;
  
  }
  
  #top-left {
    display: inline-flex;
  }
  
  input {
    
    width: 500px;
    border-radius: 15px;
    height: 40px;
    border-width: thin;
    border-color: #333;
  
  }
  
  #searchbox {
    padding-top: 45px;
  }
  
  #searchbox, #middle, #buttons {
    display: flex;
    justify-content: center;
  }
  
  #buttons {
    display: flex;
    padding-top: 45px;
    width: 100%;
    justify-content: center;
  
    margin-right: 10px;
    
  }
  
  #middle {

    margin-top: 125px;
  }
  
  
  
  #button2 {
    margin: 8px;
    width: 125px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: none;
}
  
  #button1 {
    margin: 8px;
    height: 40px;
    width: 125px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: none;
}