nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }
  
  li {
    display: inline;
    padding-right: 10px;
  
  }
  
  #top-left {
    display: inline-flex;
  }
  
  input {
    
    width: 420px;
    border-radius: 15px;
    height: 35px;
    border-width: thin;
  
  }
  
  #searchbox {
    padding-top: 50px;
  }
  
  #searchbox, #middle, #buttons {
    display: flex;
    justify-content: center;
  }
  
  #buttons {
    display: flex;
    padding-top: 50px;
    width: 100%;
    justify-content: center;
  
    margin-right: 10px;
    
  }
  
  #middle {

    margin-top: 125px;
  }
  
  #bottomlink {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  #button2 {
    margin: 13px;
    width: 100px;
    border:none;
  }
  
  #button1 {
    margin: 13px;
    height: 40px;
    width: 100px;
    border: none;
  }

  #button1:hover {
      border:1px black;
  }

  #button2:hover {
    border:1px black;
}